# phpstan.neon



parameters:

    level: 4

    checkGenericClassInNonGenericObjectType: false

    paths:
        - src
        # - tests

    ignoreErrors:
        - message: '#Result of && is always false.#'
          path: src/FabricFactory.php

        - message: '#Result of && is always false.#'
          path: src/RepeatFactory.php

        - message: '#Elseif condition is always false.#'
          path: src/FabricFactory.php

        - message: '#Elseif condition is always false.#'
          path: src/RepeatFactory.php
